<%= link_to 'Back', properties_path, class: "btn btn-success" %><br>
<%= image_tag(@property.image, :size => "400x250", crop: :fill)%>

<p>
  <strong>Owner:</strong>
  <%= @property.owner %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  
  <strong>Size:</strong>
  <%= @property.size %>
</p>

<p>
  <strong>Floors:</strong>
  <%= @property.floors %>
</p>

<p>
  <strong>Built Year:</strong>
  <%= @property.year_built %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Property Type:</strong>
  <%= @property.property_type %>
</p>
<%# <%= render @property.queries %>
<h4>Enter Your Query:</h4>
<%# <%= render 'queries/form' %>
<%# <h4> Queries </h4> %>
