<%= form_with(model: [@property, @property.query_ids ], local: true) do |form| %>
  <p>
    <%= form.label :Comment %><br>
    <%= form.text_field :commenter %>
  </p>

  <p>
    <%= form.label :review %><br>
    <%= form.text_area :body %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
