<%= form_with(model: [@property,  @property.queries.build ], local: true) do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :subject %>
  </p>

  <p>
    <%= form.label :query %><br>
    <%= form.text_area :message %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
